* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 82.5%;
}

h1 {
	box-shadow: $shadow;
	border-radius: $borderRad;
	background-color: $mainColor;
	font-family: $thirdFont;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 20px;
	margin-top: 5px;
	font-size: $textXb;
}

h2 {
	color: $black;
	margin-top: 15px;
	padding-bottom: 55px;
	font-family: $secondaryFont;
	font-size: $textMd;
	font-weight: $bolder;
	text-align: center;
}

h3 {
	color: $black;
	margin-top: 25px;
	padding-bottom: 55px;
	padding-top: 24px;
	font-family: $secondaryFont;
	font-size: $textMd;
	font-weight: $bolder;
	text-align: center;
	
}

body {
	background-color: $secondaryColor;
	margin: 0;
	padding: 0;
}

a {
	color: $black;
	text-decoration: none;
	text-align: center;
	text-align: -webkit-center;
	cursor: pointer;
	font-family: $primaryFont;
}

nav {
	background-color: $mainColor;
}

p {
	text-align: center;
	font-size: $textXb;
	font-style: $primaryFont;
	font-weight: $bold;
}