@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Maven+Pro:wght@400;500&family=Quicksand:wght@400;700&family=Roboto:wght@100&display=swap');

//vars Fonts

$primaryFont: 'Maven Pro', sans-serif;
$secondaryFont: 'Quicksand', sans-serif;
$thirdFont: 'Lobster', sans-serif;

//sizes

$textSm: "0.8rem";
$textMd: "1.3rem";
$textBg: "1.8rem";
$textXb: "2.5rem";
$bolder: 900;
$bold: 600;


