// extends

ul{
    display: flex;
    
    li{
        display:flex;
        align-content:space-around;
        
        a{
        display: flex;
        flex-direction: column-reverse;
        
    p {
        font-style: $secondaryFont;
        font-weight: $bolder;
    }    
    }
    }
}

.ul__class {
    @extend ul
}

//mixins

@mixin disp-flex-col () {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    
}




