// Nesting

nav {
    background-color: $navColor;
    box-shadow: $shadow;
    border-radius: $borderRad;
}

#navegacion {
    background-color: $secondaryColor;

    nav {
        background-color: $navColor;
        box-shadow: $shadow;
        border-radius: $borderRad;
    }

    .fotos {
        img {
            max-width: 140px;
            background-size: contain;
            height: 100px;
            display: flex;
            justify-content: space-evenly;
        }
    }

    ul {
        display: flex;

        li {
            display: flex;
            align-content: space-around;

            a {
                @include disp-flex-col;

                p {
                    font-style: $secondaryFont;
                    font-weight: $bolder;
                }
            }
        }
    }

   

//nosotros//

.texto__nos {
    p {
        margin-top: 15px;
        text-align: center;
        font-family: $secondaryFont;
        font-size: $textXb;
    }
}

.contact {
    p {
        margin-top: 15px;
        text-align: center;
        font-family: $secondaryFont;
        font-size: $textBg;
    }
}

.btn2 {
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: $borderRad;
    width: auto;
    border-style: none;
    

    button {
        border-radius: $borderRad;
        background-color: $white;
        border: none;
        width: auto;

    }
}

//productos

#productos {
    
    section{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
}
//contacto

.contact__contact {

    margin-top: 20px;
    margin-bottom: 25px;

    p {
        font-family: $primaryFont;
        font-size: $textBg;
        padding-bottom: 10px;
    }
}

main {
    background-color: $mainColor;
    border-radius: $borderRad;
    margin-bottom: 14px;
    box-shadow: $shadow;
}

nav {
    border-radius: $borderRad;
    box-shadow: $shadow;
    background-color: $navColor;
}

//galeria

.size__foto {
    width: 420px;
}}
#compras{
    div{
        
        display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
        background-color: $secondaryColor;
      margin-bottom: 15px;  
        p{
            font-family: $secondaryFont;
        }
}
    
    img{
        max-width: 60%;
       
    }
}
}