//variables//


$mainColor: rgba(63, 151, 135, 0.932);
$secondaryColor: rgba(176, 250, 255, 0.966);
$keyColor: rgba(97, 84, 59, 0.827);
$navColor: rgba(97, 209, 162, 0.884);
$black: black;
$white: white;
$buttonColor: rgba(255, 242, 227, 0.726);

//Bordes//

$borderRad: 10px;
$shadow: 8px 8px 8px 8px rgba(97, 84, 59, 0.7);

