//variables//


$mainColor: rgb(250, 225, 171);
$secondaryColor: rgba(240, 198, 83, 0.966);
$keyColor: rgba(97, 84, 59, 0.829);
$navColor: rgba(255, 202, 88, 0.884);
$black: black;
$white: white;
$buttonColor: rgba(255, 242, 227, 0.726);

//Bordes//

$borderRad: 10px;
$shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
