<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>
    <link rel="shortcut icon" href="./img/favicon/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="backgr__compras">
        <nav class=" navbar-light bg-light">
            <div class="container-fluid text__center">
              <p> Compra On-line de forma segura</p> 
            </div>
        
        </nav>
    <section id="compras">
        <div class="img-thumbnail img-fluid rounded float-start">   
            <img class="img-thumbnail img-fluid" src="../img/compras/bandeja.png" class="rounded float-start" alt="bandeja sin terminar">
       <p> Bandeja $800 </p> 
    </div>  
    <div class="img-thumbnail img-fluid rounded float-start">
        <img class="img-thumbnail img-fluid" src="../img/compras/cenicero.png" class="rounded float-end" alt="cenicero rústico">
    <p>Cenicero $400</p>
    </div>
        <div class="img-thumbnail img-fluid rounded float-start">
    <img class="img-thumbnail img-fluid" src="../img/compras/azucarera.jpg" class="rounded float-start" alt="azucarera con tapa">
    <p>Azucarera $700</p>
    </div>        
    <div class="img-thumbnail img-fluid rounded float-start" >
    <img class="img-thumbnail img-fluid" src="../img/compras/colgante.jpg" class="rounded float-end" alt="...">
     <p>Maceta colgante $900</p>
</div>
    <div class="img-thumbnail img-fluid rounded float-start">
    <img class="img-thumbnail img-fluid" src= "../img/compras/maceta.jpg" class="rounded float-start" alt="">
        <p>Maceta $2200</p>
</div>
</section>


</body>
</html>