<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>
    <link rel="shortcut icon" href="./img/favicon/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="backgr__compras">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid d-flex flex-column">
          
            <a class="navbar-brand mb-3" href="../index.html">HUMA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" >
                <li class="nav-item">
                <a href="../views/galeria.html"> <p>Galería</p>
                <img src="../img/logo/galeria.png" alt="seccion galeria" width="50" height="50" class="d-inline-block align-text-top center ms-5 me-5 mt-1">
            </a></li>
              <li class="nav-item">
                <a href="../views/nosotros.html"> <p>Nosotros</p>
                    <img src="../img/logo/nosotros.png" alt="seccion nosotros" width="50" height="50" class="d-inline-block align-text-top center ms-5 me-5 mt-1">
                </a></li>
                <li class="nav-item">
                <a href="../views/contacto.html"> <p>Contacto</p>
                    <img src="../img/logo/contacto.png" alt="seccion contacto" width="50" height="50" class="d-inline-block align-text-top  center ms-5 me-5 mt-1">
                </a></li>
              <li class="nav-item">
                <a href="../views/productos.html"> <p>Productos</p> 
                    <img src="../img/logo/productos.png" alt="seccion contacto" width="50" height="50" class="d-inline-block align-text-top  center ms-5 me-5 mt-1">
                </a></li>
            </ul>
          </div>
        </div>
      </nav
    <section id="compras">
        <div class="img-thumbnail img-fluid rounded float-start">   
            <img class="img-thumbnail img-fluid" src="../img/compras/bandeja.png" class="rounded float-start" alt="bandeja sin terminar">
       <p> Bandeja $800 </p> <button class="btn2" type="input"> comprar</button>
    
    </div>  
    <div class="img-thumbnail img-fluid rounded float-start">
        <img class="img-thumbnail img-fluid" src="../img/compras/cenicero.png" class="rounded float-end" alt="cenicero rústico">
    <p>Cenicero $400</p><button class="btn2" type="input"> comprar</button>
    </div>
        <div class="img-thumbnail img-fluid rounded float-start">
    <img class="img-thumbnail img-fluid" src="../img/compras/azucarera.jpg" class="rounded float-end" alt="azucarera con tapa">
    <p>Azucarera $700</p><button class="btn2" type="input"> comprar</button>
    </div>        
    <div class="img-thumbnail img-fluid rounded float-start" >
    <img class="img-thumbnail img-fluid" src="../img/compras/colgante.jpg" class="rounded float-end" alt="...">
     <p>Maceta colgante $900</p><button class="btn2" type="input"> comprar</button>
</div>
    <div class="img-thumbnail img-fluid rounded float-start">
    <img class="img-thumbnail img-fluid" src= "../img/compras/maceta.jpg" class="rounded float-start" alt="">
        <p>Maceta $2200</p><button class="btn2" type="input"> comprar</button>
</div>
</section>


</body>
</html>