<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Galeria de productos</title>
	<link rel="shortcut icon" href="../img/favicon/favicon.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<a href="../index.html">
		<h1>Galería</h1>
		<nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid d-flex flex-column">
              
				<a class="navbar-brand mb-3" href="../index.html">HUMA</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" >
					<li class="nav-item">
					<a href="../views/galeria.html"> <p>Galería</p>
                    <img src="../img/logo/galeria.png" alt="seccion galeria" width="50" height="50" class="d-inline-block align-text-top center ms-5 me-5 mt-1">
                </a></li>
                  <li class="nav-item">
                    <a href="../views/nosotros.html"> <p>Nosotros</p>
                        <img src="../img/logo/nosotros.png" alt="seccion nosotros" width="50" height="50" class="d-inline-block align-text-top center ms-5 me-5 mt-1">
                    </a></li>
                    <li class="nav-item">
					<a href="../views/contacto.html"> <p>Contacto</p>
                        <img src="../img/logo/contacto.png" alt="seccion contacto" width="50" height="50" class="d-inline-block align-text-top  center ms-5 me-5 mt-1">
					</a></li>
                  <li class="nav-item">
                    <a href="../views/productos.html"> <p>Productos</p> 
                        <img src="../img/logo/productos.png" alt="seccion contacto" width="50" height="50" class="d-inline-block align-text-top  center ms-5 me-5 mt-1">
					</a></li>
                </ul>
              </div>
            </div>
          </nav>
		
		  <nav class="navbar navbar-expand-lg navbar-light  ">
		<div class="font container-fluid">
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				  Catálogo
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <li><a class="dropdown-item" href="#">Mates</a></li>
				  <li><a class="dropdown-item" href="#">Tasas</a></li>
				  <li><a class="dropdown-item" href="#">Macetas</a></li>
					<li><a class="dropdown-item" href="#">Bowls</a></li>
					<li><a class="dropdown-item" href="#">Fuentes</a></li>
					<li><a class="dropdown-item" href="#">Ollas de Barro</a></li>
				</ul>
			  </li>
			</ul>
			<form class="d-flex">
			  <input class="form-control me-2 mt-3" type="search" placeholder="buscar..." aria-label="Search">
			  <button class="btn btn-outline-success mt-2" type="submit">Buscar</button>
			</form>
		  </div>
		</div>
	  </nav>
<!-- Carrusel de fotos-->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
	<div class="mx-auto" style="width: 500px ;">
		
	 
	<div class="carousel-inner ">
	  <div class="carousel-item active">
		<img class="size__foto ms-4 mt-3 mb-3 rounded rounded-3" src="../img/galeria/tasa.png" class="d-block w-100 " alt="tasa quemada">
	  </div>
	  <div class="carousel-item">
		<img class="size__foto ms-4 mt-3 mb-3 rounded rounded-3" src="../img/galeria/bandeja.png" class="d-block w-100" alt="bandeja de colores">
	  </div>
	  <div class="carousel-item">
		<img class="size__foto ms-4 mt-3 mb-3 rounded rounded-3" src="../img/galeria/cenicero.png" class="d-block w-100" alt="...">
	  </div>
	</div>
</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Anterior</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Próxima</span>
	</button>
  </div>

	 <footer>

		<section class="hov">

			<a href="https://www.instagram.com/" target="_blank">
				<p>Instagram</p> <img class="div__footeritems" src="../img/footer/instagram.jpeg"
					alt="Contacto de instagram">
			</a>
			<a href="https://www.whatsapp.com" target="_blank">
				<p>whatsapp</p> <img class="div__footeritems" src="../img/footer/whatsapp.png"
					alt="whatsapp contacto">
			</a>
			<a href="https://www.youtube.com" target="_blank">
				<p>YouTube</p> <img class="div__footeritems" src="../img/footer/youtube.png"
					alt="contacto de youtube">
			</a>
		</section>
	</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>