<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Huma Ceramica y Vitrofusion</title>
	<link rel="shortcut icon" href="../img/favicon/favicon.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
 <div id="navegacion2">
	
	<header class="head2">
		<a href="../index.html"><h5>Huma Ceramica</h5></a alt="home">
		<nav class="nav2">
		<ul>
			
			<li class="div__botones2 hovbtn"><a href="../views/galeria.html">Galeria</a></li>
			<li class="div__botones2 hovbtn"><a href="../views/nosotros.html">Nosotros</a></li>
			<li class="div__botones2 hovbtn"><a href="../views/contacto.html">Contacto</a></li>
			<li class="div__botones2 hovbtn"><a href="../views/compras.html">Compras</a> </li>
		</ul>
	</nav>
    </header>
	<main id="productos">
			<h3>Productos destacados</h3>
		<section>
			<figure class="material-symbols-outlined ">
				<img src="../img/productos/cenicero.png" alt="cenicero">
				<figcaption> Cenicero Rústico</figcaption>
				<p> $ 500</p>
			</figure>
			<figure>
				<img src="../img/productos/cenicero.png" alt="cenicero rustico">
				<figcaption> cenicero rústico</figcaption>
				<p>$500</p>
			</figure>
				<figure>
			<img src="../img/productos/mate.png" alt="mate montañas">
				<figcaption> mate montañas</figcaption>
				<p>$600</p>
			</figure>
		</section>
	</main>
	<div class="form2">
		<section>
			<p>Para info sobre pedidos llena el formulario</p>
				<form action="">
					<input type="email" placeholder="Ingresa tu Email...">
					<input type="submit" class="btn" value="Enviar">
				</form>
		
		</section>
	</div>
	<footer-2 class="hov">

		<section>
			
			<a href="https://www.instagram.com/" target="_blank">
				<p>Instagram</p> <img class="div__footeritems" src="../img/footer/instagram.jpeg"
					alt="Contacto de instagram">
			</a>
			<a href="https://www.whatsapp.com" target="_blank">
				<p>whatsapp</p> <img class="div__footeritems" src="../img/footer/whatsapp.png"
					alt="whatsapp contacto">
			</a>
			<a href="https://www.youtube.com" target="_blank">
				<p>YouTube</p> <img class="div__footeritems" src="../img/footer/youtube.png"
					alt="contacto de youtube">
			</a>
		</section>
	</footer>
</div>
</body>

</html>