<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Huma Ceramica y Vitrofusion</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="shortcut icon" href="../img/favicon/favicon.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
 <div id="navegacion2">
	
	<header class="head2">
		<a href="../index.html"><h5>Huma Ceramica</h5></a alt="home">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
				  <a class="navbar-brand" href="../index.html">HUMA</a>
				  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav" ><a href="../views/galeria.html">
						<img src="../img/logo/galeria.png" alt="seccion galeria" width="50" height="50" class="d-inline-block align-text-top center ms-5 mt-4">
					</a>
				
					  <li class="nav-item">
						<a href="../views/nosotros.html">
							<img src="../img/logo/nosotros.png" alt="seccion nosotros" width="50" height="50" class="d-inline-block align-text-top center ms-5 mt-4">
						</a>
						<a href="../views/contacto.html">  
							<img src="../img/logo/contacto.png" alt="seccion contacto" width="50" height="50" class="d-inline-block align-text-top  center ms-5 mt-4">
					  </li>
					  <li class="nav-item">
						<a href="../views/compras.html">  
							<img src="../img/logo/compras.png" alt="seccion contacto" width="50" height="50" class="d-inline-block align-text-top  center ms-5 mt-4">
					  </li>
					</ul>
				  </div>
				</div>
			  </nav>
    </header>
	<main id="productos">
			<h3>Productos destacados</h3>
		<section>
			<figure class="material-symbols-outlined ">
				<img src="../img/productos/cenicero.png" alt="cenicero">
				<figcaption> Cenicero Rústico</figcaption>
				<p> $ 500</p>
			</figure>
			<figure>
				<img src="../img/productos/cenicero.png" alt="cenicero rustico">
				<figcaption> cenicero rústico</figcaption>
				<p>$500</p>
			</figure>
				<figure>
			<img src="../img/productos/mate.png" alt="mate montañas">
				<figcaption> mate montañas</figcaption>
				<p>$600</p>
			</figure>
		</section>
	</main>
	<div class="form2">
		<section>
			<p>Para info sobre pedidos llena el formulario</p>
				<form action="">
					<input type="email" placeholder="Ingresa tu Email...">
					<input type="submit" class="btn" value="Enviar">
				</form>
		
		</section>
	</div>
	<footer-2 class="hov">

		<section>
			
			<a href="https://www.instagram.com/" target="_blank">
				<p>Instagram</p> <img class="div__footeritems" src="../img/footer/instagram.jpeg"
					alt="Contacto de instagram">
			</a>
			<a href="https://www.whatsapp.com" target="_blank">
				<p>whatsapp</p> <img class="div__footeritems" src="../img/footer/whatsapp.png"
					alt="whatsapp contacto">
			</a>
			<a href="https://www.youtube.com" target="_blank">
				<p>YouTube</p> <img class="div__footeritems" src="../img/footer/youtube.png"
					alt="contacto de youtube">
			</a>
		</section>
	</footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>